@{
    ViewData["Title"] = "Planos";
}

<section class="pricing-area pt-100 pb-100" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h2>Nossos Planos</h2>
                    <p>Escolha um plano que melhor se adapte às suas necessidades</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="single-price">
                    <div class="price-title">
                        <h4>Básico</h4>
                    </div>
                    <div class="price-tag">
                        <h2>R$25 <span>p/ mês</span></h2>
                    </div>
                    <div class="price-item">
                        <ul>
                            <li>1 usuário</li>
                            <li>1GB de armazenamento</li>
                            <li>Suporte 24hrs</li>
                            <li>1 Email</li>
                        </ul>
                    </div>
                    <a href="" class="box-btn">Compre agora</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="single-price">
                    <div class="price-title">
                        <h4>Intermediário</h4>
                    </div>
                    <div class="price-tag center">
                        <h2>R$50 <span>p/ mês</span></h2>
                    </div>
                    <div class="price-item">
                        <ul>
                            <li>5 usuários</li>
                            <li>10GB de armazenamento</li>
                            <li>Suporte 24hrs</li>
                            <li>3 Emails</li>
                        </ul>
                    </div>
                    <a href="" class="box-btn">Compre agora</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="single-price">
                    <div class="price-title">
                        <h4>Avançado</h4>
                    </div>
                    <div class="price-tag">
                        <h2>R$100 <span>p/ mês</span></h2>
                    </div>
                    <div class="price-item">
                        <ul>
                            <li>10 usuários</li>
                            <li>50GB de armazenamento</li>
                            <li>Suporte 24hrs</li>
                            <li>10 Emails</li>
                        </ul>
                    </div>
                    <a href="" class="box-btn">Compre agora</a>
                </div>
            </div>
        </div>
    </div>
</section>