@model FGemig.WebSite.Models.ContatoViewModel

@{
    ViewData["Title"] = "Contato";
}

<div class="row" id="form-contato">
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-6 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.187141000607!2d-46.658084284406954!3d-23.561721367492176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce599186a6f56b%3A0xef6e0c976fcf9392!2sAVENIDA%20PAULISTA!5e0!3m2!1spt-BR!2sbr!4v1603647852594!5m2!1spt-BR!2sbr" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase font-weight-bold">Fale Conosco</h2>
                <form asp-action="Index" asp-controller="Contato">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Nome" asp-for="Nome">
                                <span class="text-danger" asp-validation-for="Nome"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Assunto" asp-for="Assunto">
                                <span class="text-danger" asp-validation-for="Assunto"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mt-2" placeholder="Email" asp-for="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Telefone" asp-for="Telefone">
                                <span class="text-danger" asp-validation-for="Telefone"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Deixe sua mensagem" rows="3" asp-for="Mensagem"></textarea>
                                <span class="text-danger" asp-validation-for="Mensagem"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-light float-right" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}